<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<!DOCTYPE html>
<html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
   <head>
      <script>
         var stepcounter=1;
         function addRow(x) {
            var a = document.getElementById(x).insertRow(stepcounter+1);
            var stepnr = a.insertCell(0);
            var perc = a.insertCell(1);
            var temp  = a.insertCell(2);
            var tim  = a.insertCell(3);
            stepcounter++;
            stepnr.innerHTML = "Stap "+(stepcounter)
            perc.innerHTML = "<input type='number' name='percentage["+stepcounter+"]' id='percentage["+stepcounter+"]'>";
            temp.innerHTML = "<input type='number' name='temperature["+stepcounter+"]' id='temperature["+stepcounter+"]'>";
            tim.innerHTML = "<input type='number' name='time["+stepcounter+"]' id='time["+stepcounter+"]'>";
         }
        function removeRow(x) {
            var table = document.getElementById(x)
            var row = table.rows[stepcounter];
            row.parentNode.removeChild(row);
            stepcounter--;
         }
         funct
         function SubmitForm() {
         var percentages=[]
         var temperatures=[]
         var times=[]
         for (var i = 1; i < stepcounter+1; i++) { 
            percentages.push(Number(document.getElementById("percentage["+i+"]").value));
            temperatures.push(Number(document.getElementById("temperature["+i+"]").value));
            times.push(Number(document.getElementById("time["+i+"]").value));
         }
         var submitobj = {"name":document.getElementById("progname").value,"steps":stepcounter, "percentage":percentages,"temperature":temperatures,"time":times};
         let response = fetch('createprogram', {
            method: 'POST',
            body: JSON.stringify(submitobj)
            });
        response.then(res => 
        {if (res.ok){ alert('Program Created')}
        else {alert('Error Creating Program')}});
        }
      </script>
   </head>
   <body>
    <form method="POST" ACTION="createprogram">
    <b>Program name:</b><input type="text" name="progname" id="progname">
      <table style="border:2px solid black" id="newtable">
        <tr>
        <th>Step number</th>
        <th>Percentage</th>
        <th>Temperature</th>
        <th>Time</th>
        </tr>
        <tr><td>Stap 1</td><td><input type="number" name="percentage[1]" id="percentage[1]"></td><td><input type="number" name="temperature[1]" id="temperature[1]"></td><td><input type="number" name="time[1]" id="time[1]"></td></tr>
      </table>
         <input type="button" onclick="addRow('newtable')" value="Add a step">
         <input type="button" onclick="removeRow('newtable')" value="Remove last step">
         <input type="button" onclick="return SubmitForm(this.form)" value="Create program">
    </form>
         <form action="/home"><input type="submit" value="Back home"></form>
   </body>
</html>
