<HTML>
    <BODY>
        <P>Current (fake) temperature:</P>
        {{ temperature }}
        <P>Current running program:</P>
        {{ runningprogramname }}
        <P>Current step:</P>
        {{ stepnumber }}
        <P>Configure and start the oven:</P>
        <FORM METHOD="POST" ACTION="start">
            Select Program:</br>
            <select name="programnumber" id="programnumber">
            <option value="" disabled="disabled" selected="selected">Please select a name</option>
            {{ programlist | safe }}
            </select>
            <P><INPUT TYPE="SUBMIT" VALUE="Start" /></P>
        </FORM>
        <P>Stop the oven:</P>
        <FORM METHOD="POST" ACTION="stop">
            <P><INPUT TYPE="SUBMIT" VALUE="Stop" /></P>
        </FORM>
    </BODY>
</HTML>
