<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<HTML>
    <BODY>
    {{ threaderror }} </br>
    {{ resultsummary }}
        <h3>Select program to start:</h3>
        <FORM METHOD="POST" ACTION="start">
            <select name="programnumber" id="programnumber">
            <option value="" disabled="disabled" selected="selected">Please select a name</option>
            {{ programlist | safe }}
            </select>
            <P><INPUT TYPE="SUBMIT" VALUE="Start" /></P>
            <P>The current temperature is:</P>
            {{ temperature }}°C
        </FORM>
    <form action="/createprogram">
        <input type="submit" value="Create a new program" />
    </form>
    <form action="/editprogram">
        <input type="submit" value="Edit a program" />
    </form>
    </BODY>
</HTML>
