<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<meta http-equiv="refresh" content="2" >
<HTML>
    <BODY>
        <h3>The oven is currently running:</h3>
        {{ runningprogramname }}
        <P>Current temperature:</P>
        {{ temperature }}°C
        <P>Current step:</P>
        {{ stepnumber }} / {{ totalsteps }}
        <P>Click stop to stop the oven program:</P>
        <FORM METHOD="POST" ACTION="stop">
            <P><INPUT TYPE="SUBMIT" VALUE="Stop" /></P>
        </FORM>
        {{ ovenisstopping }}
        <form action="/createprogram">
            <input type="submit" value="Create a new program" />
        </form>
        <form action="/editprogram">
            <input type="submit" value="Edit a program" />
        </form>
    </BODY>
</HTML>
