<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<HTML>
    <BODY>
        <h3>Select program to start:</h3>
        <FORM METHOD="POST" ACTION="editprogram">
            <select name="programnumber" id="programnumber">
            <option value="" disabled="disabled" selected="selected">Please select a name</option>
            {{ programlist | safe }}
            </select>
            <P><INPUT TYPE="SUBMIT" VALUE="Edit" /></P>
        </FORM>
    </BODY>
</HTML>
